<!DOCTYPE html>
<html>

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Training Corpus</title>

</head>

<body>

    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Home</a></li>

            </ul>
        </header>


        {% for x in articleContent %}

        <div class="row g-2">
            <div class="col d-flex justify-content-center p-2 ">Date Published :
                {{x.publishedDate|date:'Y-m-d'}}
            </div>
            <div class="col d-flex justify-content-center p-2 ">Date Added : {{x.dateAdded|date:'Y-m-d'}}
            </div>
        </div>




        <div class="row g-2">
            <div class="col d-flex justify-content-center p-2 "><a href="{{ x.link }}" target="_blank">{{x.link }}</a>
            </div>
        </div>

        <div class="row g-2">
            <div class="col d-flex justify-content-center p-2 "><textarea rows="30" cols="90">{{x.text}}</textarea>
            </div>
        </div>

        <div class="row g-2">
            <div class="col d-flex justify-content-center p-2">Hash</div>
        </div>

        <div class="row g-2">
            <div class="col d-flex justify-content-center p-2">{{ x.linkHash }}</div>
        </div>


        <div class="row g-2">
            <div class="col d-flex justify-content-center p-2">
                <select name="hall" id="hall" class="list-group">
                    <option value="option.textLabel_Id" selected="true" class="list-group-item active">{{ x.textLabel }}
                    </option>

                    {% for x in articleClassification %}

                    <option value="{{x.entryId}}">{{ x.label }}</option>

                    {% endfor %}

                </select>
                <div class="col d-flex justify-content-center p-2"></div>
            </div>
        </div>


        <div class="row g-2">
            <div class="col d-flex justify-content-center p-2"><input type="button" value="Submit">
            </div>
            <div class="col d-flex justify-content-center p-2"></div>

            {% endfor %}

        </div>
    </div>
</body>

</html>