<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Training Corpus</title>

</head>



<body>

    <h1>Training Corpus</h1>




    <table>
        <tr>
            <td>Link</td>
            <td>Published Date</td>
            <td>Date Added</td>
            <td>Link ID</td>
            {% for x in entries %}

        <tr>
            <td><a href={{x.link}}>{{ x.source }}</a></td>
            <td>{{ x.publishedDate|date:'Y-m-d'}}</td>
            <td>{{ x.dateAdded|date:'Y-m-d' }}</td>
            <td><a href=content/{{x.linkHash}}>{{ x.linkHash }}</a></td>

            {% endfor %}
    </table>

</body>

</html>