<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Training Corpus</title>

    

</head>

<body>
        <div class="container">
        <div class="col-3 d-flex justify-content-left p-2">
            <h3>Training Corpus</h3>
        </div>
        <header class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
            <ul class="nav nav-pills">
                <li class="nav-item p-1"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item p-1"><a href="/trainingcorpus" class="nav-link active" aria-current="page">Training Corpus</a></li> 
                <li class="nav-item p-1"><a href="/verisData" class="nav-link active" aria-current="page">Veris Data</a></li>
                <li class="nav-item p-1"><a href="/debugData" class="nav-link active" aria-current="page">Debug Data</a></li> 
                <li class="nav-item p-1"><a href="/verisaro" class="nav-link active" aria-current="page">Veris ARO</a></li>
                <li class="nav-item p-1"><a href="{% url 'logout' %}" class="nav-link active" aria-current="page">Logout</a></li> 
                <li class="nav-item p-1"><a href="/errors" class="nav-link active" aria-current="page">Error Log</a></li>  
                <li class="nav-item p-1"><a href="/createInterviewee" class="nav-link active" aria-current="page">Create Interviewee</a></li>  
                <li class="nav-item p-1"><a href="/createInterviewQuestion" class="nav-link active" aria-current="page">Create InterView Question</a></li>  
                <li class="nav-item p-1"><a href="/createInterviewResponses" class="nav-link active" aria-current="page">Record Interview Responses</a></li>  
                <li class="nav-item p-1"><a href="/interviewStats" class="nav-link active" aria-current="page">Interview Stats</a></li>  
                <li class="nav-item p-1"><a href="/listInterviewee" class="nav-link active" aria-current="page">List Interviewee</a></li>
            </ul>
        </header>

        <div class="row g-2 w-100">
            <div class="col justify-content-center p-2">

               <h3>Total Number of Catalogue Items : {{ count }}</h3>
              
            </div>

            <div class="col justify-content-center p-2">

                <h3>Total Number of Classified Items : {{ classified }}</h3>

            </div>
        </div>


        <div class="row">
            <div class="col p-2" style="width: 200px; height: 500px">

                <canvas id="sourceContribution"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                        const ctx_sourceContribution = document.getElementById('sourceContribution').getContext('2d');
                        const sourceContribution = new Chart(ctx_sourceContribution, {
                            type: 'bar',
                            data: {
                                labels : [{% for item in sources %}"{{ item.source }}",{% endfor %}],
                                datasets: [{
                                    label: "Contribution Sources",
                                    data : [{% for item in sources %}{{ item.total }},{% endfor %}],
                                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                    borderColor: 'rgba(75, 192, 192, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                </script>

            </div>
        </div>

        <div class="row">
            <div class="col p-2" style="width: 200px; height: 500px">

                <canvas id="labelCount"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                        const ctx_labelCount = document.getElementById('labelCount').getContext('2d');
                        const labelCount = new Chart(ctx_labelCount, {
                            type: 'bar',
                            data: {
                                labels : [{% for item in labels %}"{{ item.label }}",{% endfor %}],
                                datasets: [{
                                    label: "Classification Count",
                                    data : [{% for item in labels %}{{ item.num_entries }},{% endfor %}],
                                    
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                </script>

            </div>
        </div>

        <div class="row">
            <div class="col p-2" style="width: 200px; height: 500px">

                <canvas id="associatedlabelCount"></canvas>
                <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                <script>
                        const ctx_associatedlabelCount = document.getElementById('associatedlabelCount').getContext('2d');
                        const associatedlabelCount = new Chart(ctx_associatedlabelCount, {
                            type: 'bar',
                            data: {
                                labels : [{% for item in associated %}"{{ item.label }}",{% endfor %}],
                                datasets: [{
                                    label: "Associated Classification Count",
                                    data : [{% for item in associated %}{{ item.num_entries }},{% endfor %}],
                                    
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                maintainAspectRatio: false,
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                }
                            }
                        });
                </script>

            </div>
        </div>

        
       
    </div>

</body>

</html>