<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Training Corpus</title>

</head>



<body>

    <div class="container">
        <div class="col-3 d-flex justify-content-left p-2">
            <h3>Training Corpus</h3>
        </div>
        <header class="d-flex flex-wrap justify-content-left py-3 mb-4 border-bottom">
            <ul class="nav nav-pills">
                <li class="nav-item p-1"><a href="/" class="nav-link active" aria-current="page">Home</a></li>
                <li class="nav-item p-1"><a href="/trainingcorpus" class="nav-link active" aria-current="page">Training Corpus</a></li>
                <li class="nav-item p-1"><a href="/search" class="nav-link active" aria-current="page">Search</a></li>
                <li class="nav-item p-1"><a href="/verisData" class="nav-link active" aria-current="page">Veris Data</a></li>
                <li class="nav-item p-1"><a href="/debugData" class="nav-link active" aria-current="page">Debug Data</a></li>
                <li class="nav-item p-1"><a href="/verisaro" class="nav-link active" aria-current="page">Veris ARO</a></li>
            </ul>
        </header>


        <div class="row g-2">
            <div class="col-3 d-flex justify-content-left p-2">Asset Type</div>
            <div class="col-2 d-flex justify-content-left p-2">Probability</div>
            <div class="col-2 d-flex justify-content-left p-2">ARO</div>
            <div class="col-2 d-flex justify-content-left p-2"></div>
        </div>


        <!--{{results_dict}}-->

        {% for variety, results in results_dict.items %}

        <div class="row g-2">
            <div class="col-3 d-flex justify-content-left p-2">{{ variety }}</div>
            <div class="col-2 d-flex justify-content-left p-2">{{ results.probability }}</div>
            <div class="col-2 d-flex justify-content-left p-2">{{ results.annualized_rate }}</div>
            <div class="col-2 d-flex justify-content-left p-2"> - - - </div>
        </div>

        {% endfor %}


    </div>

</body>

</html>