{% extends "base.html" %}


{% block content %}

  


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Assets</h1>
  </div>

  {% csrf_token %}

    
  {% load crispy_forms_tags %}



  {{assettAdd.assetName|as_crispy_field}}

  {{assettAdd.assetDescription|as_crispy_field}}

  {{assettAdd.assetType|as_crispy_field}}

  {{assettAdd.assetClassification|as_crispy_field}}

  {{assettAdd.assetOwner|as_crispy_field}}

  



  
</main>




{% endblock %}
