{% extends "base.html" %}


{% block content %}

  


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Assets</h1>
  </div>

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <a href="/rifha/assettAdd" button type="button" class="btn btn-primary">
      Create Asset<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
</svg></a>
      
    </button>
  </div>

  
  
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Asset Name</th>
          <th scope="col">Asset Description</th>
          <th scope="col">Asset Type</th>
          <th scope="col">Asset Classification</th>
          <th scope="col">Asset Owner</th>
        </tr>
      </thead>
      <tbody>
        
        {% for asset in assets %}

      

        <tr>
          <td scope="col"><a href="/rifha/assettEdit/{{asset.assetId}}/">{{ asset.assetName }}<a></td>
          <td scope="col">{{ asset.assetDescription }}</td>
          <td scope="col">{{ asset.assetType.assetTypeName }}</td>
          <td scope="col">{{ asset.assetClassification.classificationLabel }}</td>
          <td scope="col">{{ asset.assetOwner.fullName }}</td>
        </tr>

        {% endfor %}

      </tbody>
    </table>
  </div>
  
</main>


{% endblock %}
