{% extends "base.html" %}


{% block content %}

  


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Risk Analysis</h1>
  </div>



  
  
  
    

    {% load crispy_forms_tags %}

    <div class="row">
    <h4> Risk Details </h4>


    {{form.riskAsset | as_crispy_field}}

    {{form.riskOwner | as_crispy_field}}

    {{form.riskCreationDate | as_crispy_field}}

    {{form.riskReviewDate | as_crispy_field}}

    {{form.riskDescription | as_crispy_field}}

  
    </div>

    <div class="row">

    <h4> Threat Analysis </h4>

    <form action="/rifha/riskthreatAdd/{{riskId}}/" method="post">

      {% csrf_token %}

      {{threat_list.riskThreats | as_crispy_field}}

    <div class="col d-flex justify-content-right p-2"><input type="submit" value="Add Threat"
      class="btn btn-outline-secondary">
  </div>

    </form>
      


  </div>

      
  

  
 
  
  

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Threat Name</th>
        <th scope="col">Threat Likelihood</th>
        <th scope="col">Threat ARO</th>
        
      </tr>
    </thead>
    <tbody>
      
      {% for threat in threatData %}

    

      <tr>
        <td scope="col">{{threat.threatName}}</td>
        <td scope="col">{{threat.threatlikelihood}}</td>
        <td scope="col">{{threat.threatARO}}</td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>

  
<form action="/rifha/riskControlsAdd/{{riskId}}/" method="post">

  {% csrf_token %}

  <div>
    <div class="col-md-2"><input type="submit" value="Complete Threat Analysis"
      class="btn btn-outline-secondary">
    </div>
  </div>

</form> 

</main>




{% endblock %}
