{% extends "base.html" %}

{% block content %}

{% load static %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    
    <h4>Risk Report</h4>

  </div>

  {% load crispy_forms_tags %}

{{threatOffset}}

{{rProbability}}

<div class="container">
    <div class="row py-2">
     
        <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
          <h5>Risk Asset</h5>
        </div>
      
        <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
          <h5>Risk Description</h5>
        </div>

        <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
          <h5>Risk Owner</h5>
        </div>

  </div>


  <div class="row py-2">
     
      <div class="col-sm-4">
        {{riskData.riskAsset.assetName}}
      </div>
    
      <div class="col-sm-4">
        {{riskData.riskDescription}}
      </div>

      <div class="col-sm-3">
        {{riskData.riskOwner.fullName}}
      </div>

  </div>

 
  <div class="row py-2">
     
    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Risk Creation Date</h5>
    </div>
  
    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Risk Review Date</h5>
    </div>

    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Current Residual Reduction</h5>
    </div>

  </div>

  <div class="row py-2">
     
    <div class="col-sm-4">
      {{riskData.riskCreationDate}}
    </div>

    <div class="col-sm-4">
      {{riskData.riskReviewDate}}
    </div>

    <div class="col-sm-4">
      {{riskData.residualRiskOffset}}
    </div>

  </div>


  <div class="row py-2">
     
    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Min Inherent Cost</h5>
    </div>

    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>97th % Inherent</h5>
    </div>

    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Max Inherent Cost</h5>
    </div>

 
    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Min Residual Cost</h5>
    </div>

    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>97th % Residual</h5>
    </div>

    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Max Residual Cost</h5>
    </div>

  </div>

  <div class="row py-2">

    <div class="col">
      €{{minInherent |floatformat:2 }}
    </div>

    <div class="col">
      €{{avgInherent |floatformat:2 }}
    </div>

    <div class="col">
      €{{maxInherent |floatformat:2 }}
    </div>



    <div class="col">
      €{{minResidual |floatformat:2 }}
    </div>

    <div class="col">
        €{{avgResidual |floatformat:2 }}
    </div>

    <div class="col">
      €{{maxResidual | floatformat:2 }}
    </div>

  </div>

  <div class="row py-2">
     
    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 text-center rounded-top">
      <h5>Risk Notes</h5>
    </div>
  </div>


  <div class="row py-2">
     
    <div class="col-sm-12">
      {{riskData.riskNotes}}
    </div>
  </div>


  <div class="row py-2"> 

    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 rounded-top">
      <h5>Risk Distribution Data</h5>
    </div>
  
  </div>

  <div class="row py-2">
     
    <div class="col">
      {{ probCurve|safe }}
    </div>
      
  </div>


  <div class="row">
    <div class="col border m-1 mb-0 p-2 bg-secondary text-dark bg-opacity-25 rounded-top">
      <h5>Loss Exceedance Curve</h5>
    </div>
  </div>

  <div class="row py-2"> 
    <div class="col">
          {{ LECCurve|safe }}
    </div>
  </div>
</div>

</main>
{% endblock %}
