{% extends "base.html" %}


{% block content %}

  


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h4>Risk Report</h4>
  </div>

  {% load crispy_forms_tags %}
      
  

  <h1>Risk Report - Risk ID: {{ riskId }}</h1>

    <h2>Risk Data</h2>
    <p>ARO: {{ riskData.aro }}</p>
    <p>Max Cost: {{ riskData.riskImpactCost }}</p>

    <h2>Loss Exceedance Curve</h2>
    <div id="loss-exceedance-curve" style="width: 400px; height: 500px;"></div>

    <script>
        var graphData = "{{ graphData|safe }}";  // Retrieve the graph data from the context

        // Render the loss exceedance curve using Plotly.js
        Plotly.newPlot('loss-exceedance-curve', graphData, {});
    </script>
  
</main>

{% endblock %}
